@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a,
li {
  list-style: none;
  text-decoration: none;
}
/* Home Page */
.home-container {
  width: 100%;
  height: 100vh;
}
/* Navbar */
nav {
  padding-top: 3vh;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 75px;
}

.logo-text {
  margin-top: -10px;
}

.logo-text a {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: max(32px, 2.35vw);
}

.hamburger-menu {
  display: none;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5%;
}
.nav-links {
  transform: translateX(0);
  animation-name: navlinks;
  animation-duration: 3s;
}
.nav-links li {
  transition: transform 0.5s ease-out;
}
.nav-links li:hover {
  transform: scale(1.15);
}
@keyframes navlinks {
  from {
    transform: translateX(-5000px);
  }
  to {
    transform: translateX(0);
  }
}

.nav-links li {
  display: inline-block;
}
.nav-links li a {
  color: white;
  padding: 0 12px;
  font-size: max(16px, 1.2vw);
}
.search-box {
  height: 26px;
  display: flex;
  align-items: center;
}
.search-textbox {
  width: 120px;
  padding: 5px 10px;
  border: none;
  border-radius: 25px 0 0 25px;
}
.search-icon {
  height: 100%;
  width: auto;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  padding: 0 5%;
  border-radius: 0 25px 25px 0;
}
.search-icon:hover {
  background-color: #cacaca;
  transition: background-color 1s ease;
}

/* Navbar responsive */
@media only screen and (max-width: 740px) {
  .hamburger-menu {
    opacity: 1;
    cursor: pointer;
    display: block;
    color: #fff;
    padding-left: 4%;
    z-index: 21;
  }
  .hamburger-menu.show {
    animation: hamshow 3s;
    animation-direction: alternate;
  }
  @keyframes hamshow {
    from {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(180deg);
    }
    to {
      transform: rotateZ(0deg);
    }
  }
  .nav-links {
    background-color: rgba(35, 35, 35, 0.4);
    position: absolute;
    left: -25%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 5vh;
    width: 25%;
    height: 100vh;
    transition: all 0.5s linear;
  }
  .nav-links.show {
    left: 0;
  }
  .search-textbox {
    width: 0;
    font-size: 0;
    padding: 0;
    transition: all 0.5s linear;
  }
  .search-textbox.show {
    font-size: max(8px, 2vw);
    width: min(100px, 15vw);
    padding: 5px 10px;
  }
  .search-icon {
    background: none;
    color: #fff;
    border-radius: 5px;
  }
  .search-icon:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 1s ease;
  }
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.slide1 {
  background-image: url("./assets/slide2.jpg");
}
.slide2 {
  background-image: url("./assets/slide1.jpg");
}
.slide3 {
  background-image: url("./assets/slide3.jpg");
}
.swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-pagination {
  padding: 0 5% 2% 0;
  text-align: end;
}
.swiper-pagination-bullet {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: #cacaca;
}
.swiper-button {
  padding: 0 5%;
  color: #cacaca;
}
/* ----Home page */
