@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-weight: lighter;
}

button{
    cursor: pointer;
    background: none;
    border: none;
}

/* Background */
body{
    width: 100vw;
    height: 100vh;
    background-color: #3A3A3A;
}
#body{
    width: 100vw;
    height: 100vh;
    background-image: url('assets/bkg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 4s ease-out;
}

/* Dots */
.dots{
    position: absolute;
    top: 6.45%;
    right: 13%;
}
.dots img{
    height: max(10px,0.5vw);
    width: auto;
}

/* Logo */
.logo{
    position: absolute;
    left: 7%;
    top: 5%;
}
.ruler{
    position: absolute;
    color: rgba(255,247,0,0.6);
    width: 100%;
}
hr:nth-child(1){
    top: 5%;
}
hr:nth-child(3){
    z-index: 1;
    opacity: 0.6;
    top: 50%;
}
hr:nth-child(4){
    bottom: 16%;
}
.logo-text{
    z-index: 2;
    display: flex;
    align-items: center;
}
#retro-logo{
    margin-top: 5px;
    font-size: max(36px,3vw);
    font-family: 'Great Vibes', sans-serif;
    color: rgba(255,209,26,0.59);

}
#player-logo{
    padding-left: 10px;
    font-size: max(18px,1.5vw);
}

/* Hero */
.hero-container{
    position: absolute;
    top: 18%;
    right: 13%;
    display: flex;
}
.hero-text{
    position: absolute;
    top: 35%;
    left: 37%;
    transform: translate(-50%,-50%);
    width: max-content;
}
.hero-text h1{
    font-family: 'Great Vibes', sans-serif;
    font-size: max(54px,5vw);
    line-height: 1.1;
}
.hero-lower h2{
    font-size: max(24px, 3vw);
    line-height: 0.8;
}
.hero-eclipse{
    padding-left: 100px;
}
.hero-eclipse img{
    width: 23vw;
    height: auto;
}

/* Media Player */
.media-container{
    position: absolute;
    bottom: 10%;
    left: 7%;
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.media-menu{
    z-index: 1;
    position: absolute;
    background-color: rgba(123,123,123,0.57);
    border-radius: 25px;
    width: calc(100% - max(100px,7vw));
    height: auto;
    margin-left: 11%;
    padding: 10px 4% 0px 10%;
}
.song-content{
    width: 100%;
    height: 30px;
    display: flex;
    padding: 4px 5% 4px 5%;
    align-items: center;
    background-color: rgba(51,50,50, 0.72);
    border-radius: 20px;
    overflow: hidden;
}
.song-content span {
    padding: 0 10px;
}
.song-content h4{
    color: rgb(203,203,203);
}
.song-time{
    width: 100%;
}
.play-time{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}
.time-bar{
    padding: 6px  0;
    width: 100%;
    height: 5px;
}
.control-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.control-menu button img{
    width: max(32px,2.5vw);
    height: max(32px, 2.5vw);
}
.control-skip{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.control-skip button{
    padding-left: 6%;
}
.disk{
    z-index: 2;
    width: clamp(100px,9vw, 200px);
    height: auto;
}
